header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home {
    text-align: center;
    background-color: white;
    border-radius: 2%;
    margin: 3% auto;
    padding: 2% 2%;
    opacity: .85;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    max-width: 70%;
}

.home p {
    max-width: 60%;
    margin: 0 auto;
}

.about h3 {
    color: white;
    font-weight: 700;
    outline: thick;
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
}

.about .item p {
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    display: border-box;
    text-align: center;
    background-color: white;
    border-radius: 2%;
    margin: 3% auto;
    padding: 2% 2%;
    opacity: .85;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 450px;
}

.beliefs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    padding: 3% 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 100%;
}

.beliefs p,
.beliefs h5,
.beliefs h4 {
    margin: 0 auto;
    text-align: center;
}

hr {
    width: 60%;
    margin: 2% auto;
}

.beliefs ul {
    list-style-type: none;
    text-align: center;
}

.beliefs ul li {
    padding-bottom: 1%;
}

.giving {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.givingBtn {
    flex: 1;
    text-align: center;
}

.givingInfo {
    flex: 2;
    text-align: center;
    padding: 2% 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
}

nav a {
    text-decoration: none;
    padding-right: 3%;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: rgb(215, 219, 228);
}

nav a:hover {
    color: rgb(182, 181, 192);
}

nav a:active {
    color: rgb(189, 193, 255)
}